Host *
    IdentityFile ~/.ssh/id_ed25519
    AddKeysToAgent 1800

Host github.com
    HostName ssh.github.com
    User git
    Port 443
    #ProxyCommand nc -v -x 127.0.0.1:PORT %h %p

Host codeberg.org
    HostName codeberg.org
    User git
    #ProxyCommand nc -v -x 127.0.0.1:PORT %h %p
