*

!/.bash_profile
!/.bashrc
!/.gitignore
!/LICENSE

!/.gnupg/
!/.gnupg/gpg-agent.conf

!/.ssh/
!/.ssh/config.sample

!/.local/
!/.local/bin/
!/.local/bin/*
!/.local/bin/**/*
!/.local/share/
!/.local/share/adr/
!/.local/share/adr/urls.sample
!/.local/share/env/
!/.local/share/env/bku-apk.env.sample
!/.local/share/env/prox.env.sample
!/.local/share/fcitx5/
!/.local/share/fcitx5/themes/
!/.local/share/fcitx5/themes/suckless
!/.local/share/fcitx5/themes/suckless/theme.conf

!/.config/
!/.config/autorandr/
!/.config/autorandr/postswitch
!/.config/autorandr/settings.ini
!/.config/bash/
!/.config/bash/completions/
!/.config/bash/completions/*
!/.config/bash/functions/
!/.config/bash/functions/*
!/.config/bash/aliases.bash
!/.config/bottom/
!/.config/bottom/bottom.toml
!/.config/Code - OSS/
!/.config/Code - OSS/User/
!/.config/Code - OSS/User/keybindings.json
!/.config/Code - OSS/User/settings.json.sample
!/.config/dunst/
!/.config/dunst/dunstrc
!/.config/fcitx5/
!/.config/fcitx5/conf/
!/.config/fcitx5/conf/classicui.conf
!/.config/fcitx5/conf/pinyin.conf
!/.config/fcitx5/config
!/.config/fcitx5/profile
!/.config/fontconfig/
!/.config/fontconfig/fonts.conf
!/.config/git/
!/.config/git/config.sample
!/.config/gtk-2.0/
!/.config/gtk-2.0/gtkrc
!/.config/gtk-3.0/
!/.config/gtk-3.0/settings.ini
!/.config/gtk-4.0/
!/.config/gtk-4.0/settings.ini
!/.config/lf/
!/.config/lf/bindings.lf
!/.config/lf/cleaner.sh
!/.config/lf/lfrc
!/.config/lf/opener.lf
!/.config/lf/preview.sh
!/.config/libvirt/
!/.config/libvirt/libvirt.conf
!/.config/mpd/
!/.config/mpd/mpd.conf
!/.config/mpv/
!/.config/mpv/scripts/
!/.config/mpv/scripts/mpv-cut/
!/.config/mpv/scripts/mpv-cut/*
!/.config/mpv/input.conf
!/.config/mpv/mpv.conf
!/.config/nsxiv/
!/.config/nsxiv/exec/
!/.config/nsxiv/exec/key-handler
!/.config/nvim/
!/.config/nvim/init.lua
!/.config/nvim/lua/
!/.config/nvim/lua/autocmds.lua
!/.config/picom/
!/.config/picom/picom.conf
!/.config/qt5ct/
!/.config/qt5ct/qt5ct.conf
!/.config/qt5ct/style-colors.conf
!/.config/qt6ct/
!/.config/qt6ct/qt6ct.conf
!/.config/qt6ct/style-colors.conf
!/.config/qutebrowser/
!/.config/qutebrowser/styles/
!/.config/qutebrowser/styles/*
!/.config/qutebrowser/userscripts/
!/.config/qutebrowser/userscripts/*
!/.config/qutebrowser/bindings.py
!/.config/qutebrowser/colors.py
!/.config/qutebrowser/config.py
!/.config/qutebrowser/proxy.py.sample
!/.config/readline/
!/.config/readline/inputrc
!/.config/rmpc/
!/.config/rmpc/themes/
!/.config/rmpc/themes/mono.ron
!/.config/rmpc/config.ron
!/.config/systemd/
!/.config/systemd/user/
!/.config/systemd/user/cls.service
!/.config/systemd/user/cls.timer
!/.config/task/
!/.config/task/taskrc
!/.config/vim/
!/.config/vim/autocmds.vim
!/.config/vim/vimrc
!/.config/X11/
!/.config/X11/xinitrc
!/.config/yt-dlp/
!/.config/yt-dlp/config
!/.config/zathura/
!/.config/zathura/zathurarc
