*

!/.gitignore

!/LICENSE

!/.bash_profile
!/.bashrc
!/.xinitrc

!/.gnupg/
!/.gnupg/gpg-agent.conf

!/.ssh/
!/.ssh/config.sample

!/.local/
!/.local/bin/
!/.local/bin/*
!/.local/bin/**/*
!/.local/share/
!/.local/share/adr/
!/.local/share/adr/urls.sample
!/.local/share/fcitx5/
!/.local/share/fcitx5/themes/
!/.local/share/fcitx5/themes/mono/
!/.local/share/fcitx5/themes/mono/theme.conf
!/.local/share/env/
!/.local/share/env/bku-apk.env.sample
!/.local/share/env/prox.env.sample
!/.local/share/nvim/
!/.local/share/nvim/site/
!/.local/share/nvim/site/autoload/
!/.local/share/nvim/site/autoload/plug.vim

!/.cache/
!/.cache/crontab/
!/.cache/crontab/crontab.bak.sample

!/.config/
!/.config/bash/
!/.config/bash/aliases.bash
!/.config/bash/completions/
!/.config/bash/completions/*
!/.config/bash/functions/
!/.config/bash/functions/*
!/.config/cmus/
!/.config/cmus/rc
!/.config/Code - OSS/
!/.config/Code - OSS/User/
!/.config/Code - OSS/User/keybindings.json
!/.config/Code - OSS/User/settings.json.sample
!/.config/dunst/
!/.config/dunst/dunstrc
!/.config/fcitx5/
!/.config/fcitx5/conf/
!/.config/fcitx5/conf/classicui.conf
!/.config/fcitx5/config
!/.config/fcitx5/profile
!/.config/fontconfig/
!/.config/fontconfig/fonts.conf
!/.config/git/
!/.config/git/config.sample
!/.config/gtk-3.0/
!/.config/gtk-3.0/settings.ini
!/.config/lf/
!/.config/lf/autocmds.lf
!/.config/lf/bindings.lf
!/.config/lf/lfrc
!/.config/lf/local.lf
!/.config/lf/opener.lf
!/.config/lf/previewer.sh
!/.config/lf/ruler.go
!/.config/lf/libvirt/
!/.config/lf/libvirt/libvirt.conf
!/.config/mpv/
!/.config/mpv/scripts/
!/.config/mpv/scripts/mpv-cut/
!/.config/mpv/scripts/mpv-cut/*
!/.config/mpv/input.conf
!/.config/mpv/mpv.conf
!/.config/newsboat/
!/.config/newsboat/bindings.conf
!/.config/newsboat/config
!/.config/newsboat/urls.sample
!/.config/nsxiv/
!/.config/nsxiv/exec/
!/.config/nsxiv/exec/key-handler
!/.config/nvim/
!/.config/nvim/lua/
!/.config/nvim/lua/config/
!/.config/nvim/lua/config/autocmds.lua
!/.config/nvim/lua/plugins/
!/.config/nvim/lua/plugins/*
!/.config/nvim/init.lua
!/.config/picom/
!/.config/picom/picom.conf
!/.config/qt5ct/
!/.config/qt5ct/qt5ct.conf
!/.config/qt5ct/style-colors.conf
!/.config/qt6ct/
!/.config/qt6ct/qt6ct.conf
!/.config/qt6ct/style-colors.conf
!/.config/qutebrowser/
!/.config/qutebrowser/greasemonkey/
!/.config/qutebrowser/greasemonkey/*
!/.config/qutebrowser/styles/
!/.config/qutebrowser/styles/*
!/.config/qutebrowser/userscripts/
!/.config/qutebrowser/userscripts/*
!/.config/qutebrowser/bindings.py
!/.config/qutebrowser/colors.py
!/.config/qutebrowser/config.py
!/.config/qutebrowser/proxy.py.sample
!/.config/readline/
!/.config/readline/inputrc
!/.config/task/
!/.config/task/taskrc
!/.config/vim/
!/.config/vim/autocmds/
!/.config/vim/autocmds/dvtm.vim
!/.config/vim/vimrc
!/.config/wget/
!/.config/wget/wgetrc
!/.config/zathura/
!/.config/zathura/zathurarc
!/.config/lesskey
