{
    "chat.disableAIFeatures": true,
    "chat.extensionUnification.enabled": false,
    "editor.fontFamily": "Source Code Pro",
    "editor.fontSize": 15,
    "editor.glyphMargin": false,
    "editor.lineDecorationsWidth": 0,
    "editor.lineNumbers": "relative",
    "editor.minimap.enabled": false,
    "editor.renderWhitespace": "trailing",
    "editor.scrollbar.horizontalScrollbarSize": 1,
    "editor.scrollbar.verticalScrollbarSize": 1,
    "editor.wordWrap": "on",
    "extensions.autoCheckUpdates": false,
    "extensions.autoUpdate": "off",
    "extensions.experimental.issueQuickAccess": false,
    "extensions.ignoreRecommendations": true,
    "redhat.telemetry.enabled": false,
    "telemetry.editStats.enabled": false,
    "telemetry.feedback.enabled": false,
    "telemetry.telemetryLevel": "off",
    "vim.foldfix": true,
    "vim.normalModeKeyBindingsNonRecursive": [{ "before": ["O"], "commands": ["editor.action.insertLineBefore"], "after": ["i"] }],
    "vim.useSystemClipboard": true,
    "window.customTitleBarVisibility": "never",
    "window.menuBarVisibility": "toggle",
    "window.titleBarStyle": "native",
    "window.zoomLevel": 1,
    "workbench.colorCustomizations":{
        "editor.background": "#111111",
        "editorGutter.background": "#111111",
        "sideBar.background": "#111111",
        "activityBar.background": "#111111",
        "statusBar.background": "#111111",
        "statusBar.foreground": "#eeeeee"
    },
    "workbench.commandPalette.experimental.enableNaturalLanguageSearch": false,
    "workbench.enableExperiments": false,
    "workbench.settings.enableNaturalLanguageSearch": false,
    "workbench.startupEditor": "newUntitledFile",
    "workbench.colorTheme": "Dark+"
}
